body {
  background-image: url(./imagenes/wallpaper.png);
  background-size: 300px;
  background-repeat: repeat;
  font-family: "Zilla Slab", serif;
  margin: 0 auto;
}

header {
    width: 100%;
    height: 600px;
}
.presentacion {
    width: 80%;
    height: 50px;
    background-color: #409bcc;
  margin: auto;
}

.loguito {

    width: 30%;
    height: 50px;
    float: left;
}
.totoro {
  
    width: 50px;
}

nav {
  width: 70%;
  height: 50px;
  float: left;
  line-height: 20px;
  text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    margin: 0;
  }

.barra .navegacion a:hover {
  color: #f2b4e0;
}

.all {
  width: 100%;
  max-height: 30%;
  margin: auto;
}

.flipcardcontainer {
  margin: auto;
  display: inline-flex;
}

.elemento {
  display: inline-flex;
  width: 350px;
  height: 150px;
  position: relative;
  padding: auto;
  background-color: white;
  margin: 20px 47px;
  border-radius: 10px;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.front {
  display: inline-flex;
  border-radius: 10px;
  background-color: white;
  color: #2e82af;
  transform: rotateY(0deg);
}

.back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: rotateY(-180deg);
  background-color: #2e82af;
  color: white;
}

.back a {
  margin: auto;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.back a:hover {
  color: #f2b4e0;
}

.elemento:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.imagen {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 1px white solid;
  margin: 10px;
}

h3 {
  color: #409bcc;
  font-size: 30px;
  text-align: center;
  margin: 10px auto;
}

h1 {
  color: #409bcc;
  font-size: 50px;
  text-align: center;
  margin: 10px auto;
}

.topseis {
  display: inline-flex;
  margin: 20px 50px;
}

.peli {
  width: 25%;
  display: block;
  margin: 0 auto;
  border: solid 2px white;
  background-color: white;
  border-radius: 5px;
  color: #409bcc;
  text-align: center;
  transition: all 0.2s;
}

.peli:hover {
  transform: translateY(-15px);
  box-shadow: 0 16px 16px 0 #f2b4e0;
}

.peli a {
  font-family: "Zilla Slab", serif;
  text-decoration: none;
  color: #409bcc;
}

.peli a:hover {
  font-family: "Zilla Slab", serif;
  text-decoration: none;
  color: #2d7aa3;
}

.aloh {
  width: 100%;
  display: block;
  object-fit: cover;
}

.video {
  display: flex;

  width: 560px;
  margin: 30px auto;
}

.yacasi {
  display: inline-flex;
  margin: 30px 50px 0 50px;
}

.pie {
  width: 30%;
  height: 240px;
  display: block;
  margin: 30px 20px 0 20px;
  color: #409bcc;
  background-color: white;
  padding: 0 20px;
  border-radius: 10px;
}

.mapa {
  width: 100%;
  height: 30%;
}

.icon {
  width: 25%;
  justify-content: space-around;
  display: inline-flex;
  margin: 0 auto;
}

.imgfooter {
  width: 25%;
  margin: 0 auto;
}

.copy {
  font-family: "Zilla Slab", serif;
  background-color: #409bcc;
  line-height: 50px;
  text-align: center;
  margin: 0 20px 0 20px;
  color: white;
}
